<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <!-- <link rel="stylesheet" href="style.css"></link> -->
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h3>Score:<span id="result"></span></h3>

    <div class="grid">
    </div>
    <script src="/javascripts/memory.js"></script>
</body>
</html>
