.grid {
  margin: auto;
  border: 2px solid gray;
  height: 240px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  border: lightgray solid 1px;
  height: 38px;
  width: 38px;
}

.player-one {
  background-color: red;
  border-radius: 20px;
}

.player-two {
  background-color: blue;
  border-radius: 20px;
}
